API_ID=22124671
API_HASH=1858cea70d47be1e13ee476b2150b67c

# Số lượng profile chạy cùng lúc
MULTI_TAPPERS=10

# Bật truy cập game qua ref link (True là bật, False là truy cập qua CHANEL_REF_LINK)
ENABLE_REF_LINK=True
REF_LINK="https://t.me/claytoncoinbot/game?startapp=5440629352"

#Tên bot cần get iframe nếu truy cập qua CHANEL_REF_LINK
BOT_NAME="notpixel"
# Link channel ref
CHANNEL_REF_LINK="https://web.telegram.org/k/#@lhsdevlink"
# GPM API URL
GPM_API_URL="http://127.0.0.1:19995"

#kích hoạt x3 point (tỉ lệ 50%)
X3POINTS=True
#kích hoạt x3 point (tỉ lệ 100%)
X3POINTS_100=True
# Tự động nâng cấp thưởng 1 lượt (True hoặc False)
AUTO_UPGRADE_PAINT_REWARD=False
AUTO_UPGRADE_PAINT_REWARD_MAX=7
# Tự động nâng cấp thời gian hồi 1 lượt paint (True hoặc False)
AUTO_UPGRADE_RECHARGE_SPEED=False
AUTO_UPGRADE_RECHARGE_SPEED_MAX=11
# Tự động nâng cấp số lượt paint có thể tích lũy (True hoặc False)
AUTO_UPGRADE_RECHARGE_ENERGY=False
AUTO_UPGRADE_RECHARGE_ENERGY_MAX=7
# Tự động auto task
AUTO_TASK=True

# Số lần thử tìm màu đúng
TIMES_TRY_TO_FIND_RIGHT_COLOR=20
# Tùy chọn cửa sổ profile mở lên to hoặc nhỏ (True là nhỏ, False là to)
WINDOW_SIZE_SMALL=True

# Kiểm tra proxy có sử dụng SSL không (nếu để True mà thấy kiểm tra proxy không được thì nên đổi sang False)
PROXY_CHECK_SSL=False
# Kiểm tra xem khi click vào link ref trong channel có hiện game lên luôn không, nếu hiện thì để false, còn nếu phải click vào nút (play, launch, confirm...) mới hiện thì để true
CHECK_BUTTON_LAUNCH_GAME=False
# Thời gian kiểm tra button launch game (giây)
TIME_OUT_CHECK_BUTTON_LAUNCH_GAME=5
# Thời gian chờ iframe xuất hiện (giây)
TIME_WAIT_IFRAME_APPEAR=120

# Sử dụng proxy từ file
USE_PROXY_FROM_FILE=True
# Thời gian delay giữa các account
DELAY_EACH_ACCOUNT=[1,3]
# Thời gian delay giữa các profile(random trong khoảng ... giây)
DELAY_BEFORE_TAPPER=[1,10]
# Thời gian delay sau khi hoàn thành tất cả profile (random trong khoảng ... giây)
DELAY_AFTER_DONE_TAPPER=[2458,3215]
